<div style="padding: 10px 10px;">
	<p class="chatWith">我是: {{vm.sender}}，正在跟: {{vm.members}} 聊天</p>

	<div>
		<p class='message-tips'>历史消息</p>
		<div ng-repeat="msg in vm.historyMsgList">
			<div class="message-base" ng-class="{'message-receiver': msg.isReceiver}">{{msg.text}}</div>
		</div>
		<p class='message-tips'>华丽的分割线</p>
	</div>
	<div ng-repeat="msg in vm.msgList">
		<div class="message-base" ng-class="{'message-receiver': msg.isReceiver}">{{msg.text}}</div>
	</div>
	<input type="text" style="width: 100%;" ng-model='vm.newMsg' required ng-trim='true' ng-keyup='$event.keyCode == 13 && vm.send()' />
	<!-- <input type="button" value="Send" ng-click='vm.send()' > -->
</div>


