<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bama-chat</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="app.animations.css" />

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/leancloud-realtime/dist/realtime.browser.js"></script>
   
    <!-- chat-board -->
    <script src="app.module.js"></script>
    <script src="chat-board/chat-board.module.js"></script>
    <script src="chat-board/chat-board.component.js"></script>
  </head>
  <body ng-app="bamaChat">

    <div ng-controller="appController as vm">
        <div>{{vm.tomName}}: <input type="checkbox" ng-model="vm.showTom"> &nbsp;&nbsp;{{vm.jerryName}}: <input type="checkbox" ng-model="vm.showJerry"></div>
        <div ng-if='vm.showTom' style="float: left;width: 100%;"><chat-board-ui chat-context="vm.tomContext" /></div>
        <div ng-if='vm.showJerry' style="float: right;width: 100%;"><chat-board-ui chat-context="vm.jerryContext" /></div>
    </div>

  </body>
</html>
